@import 'reset-css/reset';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'variables';
@import 'font-awesome';
@import 'bourbon';
@import 'neat';
@import 'grid';



body {
    background: $background-color;
    color: $primary-color;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    // margin: 0 auto;
    // position: relative;
}
.pgrapher {
    color: $photographer;
}
.container {
    @include outer-container(1140px);
    margin: 0 auto;
}

header {
    height: 100%;
    margin: auto;
    padding: 20px 20px;
    position: relative;
   img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    nav {
        font-weight: strong;
    }
    nav ul {
        float: right;
        display: flex;
    }
    .tb {
        content: "";
        padding-left: 5px;
    }
    a {
        text-decoration: none;
        color: $primary-color;
    }
    a:hover {
        color: #ef5350;
    }
    li:nth-child(2) a {
        color: #ef5350;
    }
    li:nth-child(2) a:hover {
        color: $primary-color;
    }
    li:after {
        content: "";
        padding-left: 20px;
    }
    .logo {
        text-align: center;
        padding: 20px 0 0 0;
    }
    .topics {
        text-align: center;
        padding-bottom: 20px;
    }

}

.photo {
    @include row();
    padding-bottom: 30px;
}

.content {
    @include span-columns(6 of 12);
    @include shift(3);

    @include media($tablet) {
        @include shift(0);

        @include span-columns(12 of 12);
    }

    img {
        width: 100%;
    }
}
.specs {
    @include span-columns(3 of 12);
    @include media($tablet) {
        @include span-columns(12 of 12);
    }

    i {
        font-size: 0.6em;
    }
}
.date {
    font-size: 0.5em;
}
.specs ul li:first-child span {
    color: #ef5350;
    font-weight: strong;
}
.specs ul li {
    line-height: 1em;
}


footer {
    max-width: 100%;
    margin: auto;
    display: block;
    padding: 60px 0;
    .demo {
        text-align: center;
        display: block;
    }
    h4 {
        padding-bottom: 20px;
    }
    img {
        height: 30%;
        width: 30%;
        padding: 10px;
        opacity: 1;
        background: url(http://lorempixel.com/g/400/200) no-repeat;
    }
    img:hover {
        opacity: 0.3;
    }
}

@media (max-width: 480px) {
    nav ul {
        padding-left: 1.25em;
        background: #4F4E4E;
        overflow: hidden;
        height: 2px;
        width: 30px;
        margin: 3px 10px 0 0;
        box-shadow:
            0 0.25em 0 0 #4F4E4E,
            0 0.5em 0 0 #4F4E4E;
    }
}






