@import 'reset-css/reset';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'font-awesome';

$background-color: #333333;
$primary-color: #9D9D9D;
$photographer: #FFFFFF;


body {
    background: $background-color;
    color: $primary-color;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    position: relative;
    height: 100%;
}
.pgrapher {
    color: $photographer;
}

header {
    height: 100%;
    margin: auto;
    padding: 20px 20px;
    position: relative;
   img {
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }
    nav {

        font-weight: strong;
    }
    nav ul {
        float: right;
        display: flex;
    }

    .tb {
        content: "";
        padding-left: 5px;
    }
   a {
        text-decoration: none;
        color: $primary-color;
    }
    a:hover {
        color: #ef5350;
    }
    li:nth-child(2) a {
        color: #ef5350;
    }
    li:nth-child(2) a:hover {
        color: $primary-color;
    }
    li:after {
        content: "";
        padding-left: 20px;
    }
    .logo {
        height: 50%;
        padding: 15px;
        text-align: center;
    }
}

.photo {
    position: relative;
    width: 100%;
    // margin: auto;
    .content {
        max-width: 600px;
        position: relative;
        margin: 0 auto;
        padding-bottom: 50px;
        img {
            width: 100%;
            position: relative;
            display: block;
        }
        span {
            padding: 10px;
            margin: 0;
        }
        .date {
            font-size: 0.5em;
        }
    .specs {
        position: absolute;
        top: 0;
        right: -300px;
        padding: 0 35px;
        i {
            font-size: 0.7em;
        }
    }
    }
}
    .specs ul li:first-child span {
        color: #ef5350;
        font-weight: strong;
    }

footer {
    width: 100%;
    margin: auto;
    display: block;
    padding: 20px 0;
    .demo {
        text-align: center;
        display: block;
    }
    h4 {
        padding-bottom: 20px;
    }
    img {
        height: 30%;
        width: 30%;
        padding: 10px;
    }
}

@media (max-width: 960px) {
    .body {
        width: 100%;
        position: relative;
    }
    .photo {
        position: relative;
        }
    .content {
        position: relative;
        display: block;
        }
    .specs {
        position: relative;
        display: inline-block;

    }
    .footer {
        position: relative;
        display: inline;
    }

}




